# Dependencies
node_modules/
.pnp
.pnp.js
backend/node_modules/
vue_app/node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Environment & Secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
backend_logs.txt
build.log
vue_app/build_err*.txt
vue_app/build_error.txt

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel
